* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

header {
    background: #3001ff;
    color: #fff;
    padding: 20px 0;
    border-bottom: #0779e4 3px solid;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

section {
    display: none;
    padding: 20px 0;
}

section.active {
    display: block;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #07e6ff;
}

.intro p, .contact p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.skills ul {
    list-style: none;
    text-align: center;
}

.skills ul li {
    display: inline;
    margin: 0 10px;
    font-size: 1.2em;
}

.contact ul {
    list-style: none;
    text-align: center;
}

.contact ul li {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.contact ul li a {
    color: #0779e4;
    text-decoration: none;
}

footer {
    background: #ff0101;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    header h1, section h2 {
        font-size: 2em;
    }

    .skills ul li {
        display: block;
        margin-bottom: 10px;
    }
    
}
.p1{
    font-size: 20px;
    color: #f68300;
}